.TJViewDocPage{
    background-color: white;
    height: auto;
}

.TJViewPara{
    color: black;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.TJViewDocTable{
    border-collapse: collapse;
    font-size: 25px;
    width: 1250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 5px solid black;
    /* margin:auto; */
    border-radius: 10px;
    margin-left: 120px;
    font-family: 'Jost', sans-serif;
}

.TJViewDocTable thead tr{
    background-color:#008080 ;
    color: white;
    text-align: left;
    font-weight: bold;
}

.TJViewDocTable th, .FNViewTable td{
    padding: 12px 15px;
}

.TJViewDocTable tbody tr{
    border-bottom: 5px solid black;
}

.TJViewDocTable tbody tr:nth-of-type(odd){
    background-color: white;
    color: black;
    font-weight: bold;
    height: 100px;
}

.TJViewDocTable tbody tr:nth-of-type(even){
    background-color: white;
    color: black;
    font-weight: bold;
    height: 100px;
}

.TJViewDocTable tbody tr:last-of-type{
    border-bottom: 2px solid black;
}

.TJDocButton-update{
    background-color: goldenrod;
    color: #1F1F1F;
    border: 3px solid black;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
}