@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

.SingleViewBody{
    background-color: white;
}
.SingleViewCataract{
    background-color: white;
    width: 60% !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid black;
}
.SingleViewHeading{
    color: #008080;
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 30px;
}
.imageCard1{
    border-radius: 10px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    margin: 0px 0px 0px 0px;
    width:477px;
    height: 310px;
    margin-left: -60px;
}
.CataractContent{
    font-size: 22px;
    margin-top: 10px;
    font-family: 'Jost', sans-serif;
    font-weight:900;
    text-align: justify;
    padding-left: 20px;
    margin-left: 150px;
}
.Cataractupdatebtn{
    background-color: #56c411;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
    margin-left: -65px;
    font-family: 'Secular One', sans-serif;
}
.Cataractupdatebtn:hover{
    background-color: #1F1F1F;
    color: #56c411;
    font-family: 'Secular One', sans-serif;
}
.Cataractdeletebtn{
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
}
.Cataractdeletebtn:hover{
    background-color: #1F1F1F;
    color: #56c411;
    font-family: 'Secular One', sans-serif;
}

/* comment section */
.usericon{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}
.card-pic{
    margin-left: -250px;
    margin-top: -10px;
}
.showComment{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(16, 13, 13, 0.4);
}
.box{
    display: flex;
    width: 60%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 19.5%;
    border: 4px solid #008080;
}
.commentpic{
    background-color: black;
    display: flex;
    align-items: center;
    width: 80%;
}
.commentpic img{
    object-fit: contain;
    width: 100%;
}
.details{
    width: 200%;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.comment-section{
    flex-grow: 4;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    padding-left: 15px;
}
.close-button{
    position: fixed;
    top: 1%;
    right: 5%;
    color: white;
    border: none;
    cursor: pointer;
}
.material-symbols-outlined-button {
    font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}
.Viewcomment{
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
}
#cmntDeletebtn{
    position: fixed;
    color: red;
    cursor: pointer;
    margin-left: 10px;
}
#cmntDeletebtn:hover{
    color: #008080;
}