.UpdateCatBackground{
    background-image: url("../CreateCataractForm/image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-position: 69%;
}

.UpdateCataractForm{
    background-color: #2B302A;
    text-align: center;
    width: 600px;
    height: 560px;
    border-radius: 25px;
    margin-left: 420px;
}
.rectangleCatUpdate{
    background-color: #CCFF00;
    width: 580px;
    height: 60px;
    border-radius: 10px;
    margin-left: 427px;
}
.UpdateCataractHeading{
    font-weight: bold;
    padding: 4px;
}