@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.PatientHomePage{
   background-image: url("../PatientHomePage/image4.jpg");
   height: auto;
   width: 100%;
}
.PatientHomeHeading{
   font-size: 50px;
   color: white;
   margin-right: 60%;
   font-family:'Times New Roman', Times, serif;
   font-weight: 900;
}
.PatientHomeHeading2{
   font-size: 50px;
   color: white;
   margin-right: 76%;
   font-family:'Times New Roman', Times, serif;
   font-weight: 900;
}
.PatientHomeHeading3{
   font-size: 30px;
   color: white;
   margin-right: 67%;
   font-family:'Times New Roman', Times, serif;
   font-weight: 700;
   margin-top: 50px;
}
.PatientHomeHeading4{
   font-size: 30px;
   color: white;
   margin-right: 72%;
   font-family:'Times New Roman', Times, serif;
   font-weight: 700;
}
.PatientHomeHeading5{
   font-size: 30px;
   color: white;
   margin-right: 75%;
   font-family:'Times New Roman', Times, serif;
   font-weight: 700;
}
.PatientHomeHeading6{
   font-size: 30px;
   color: white;
   margin-right: 67%;
   font-family:'Times New Roman', Times, serif;
   font-weight: 700;
}
.PatientHomeHeading7{
   font-size: 50px;
   color: rgb(245, 7, 7);
   margin-right: 49%;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 900;
   margin-top: 40px;
}
.PatientHomeHeading8{
   font-size: 50px;
   color: rgb(245, 7, 7);
   margin-right: 84%;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 900;
}
.PatientHomeHeading9{
   font-size: 50px;
   color: rgb(8, 28, 244);
   margin-right: 56%;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 900;
   margin-top: -66px;
}
.PatientHomeDescription{
   font-size: 25px;
   color: white;
   margin-left: 3%;
   font-family: 'Jost', sans-serif;
}
.PatientHomePageSecondPart{
   background-color: #1F1F1F;
   height: auto;
}
.PatientDiv1{
   background-color: #2B302A;
   height: 300px;
   width: 320px;
   margin-left: 2%;
   border-radius: 15px;
   border: 5px solid #99FF33;
}
.PatientDivHeading{
   font-weight: bold;
   color: white;
   font-size: 25px;
   text-align: center;
   font-family: 'Secular One', sans-serif;
}
.PatientDivPara{
   text-align: center;
   color: white;
   font-size: 20px;
   padding: 10px;
   font-family: 'Jost', sans-serif;
}
.PatientDivIcon{
   height: 50px;
   width: 70px;
   /* margin-left: 42%; */
   margin-top: 3%;
}
.PatientHomeButton{
   background-color: #1F1F1F;
   color: #99FF33;
   border-radius: 10px;
   width: 180px;
   height: 40px;
   /* margin-left: 24%; */
   transition: 1s;
}
.PatientHomeButton:hover{
   background-color: #99FF33;
   color: #1F1F1F;
   transform: scale(1.6);
}
.PatientDiv2{
   background-color: #2B302A;
   height: 300px;
   width: 320px;
   margin-left: 26.7%;
   border-radius: 15px;
   border: 5px solid #99FF33;
   margin-top: -20.5%;
}
.PatientDiv3{
   background-color: #2B302A;
   height: 300px;
   width: 320px;
   margin-left: 51.5%;
   border-radius: 15px;
   border: 5px solid #99FF33;
   margin-top: -20.5%
}
.PatientDiv4{
   background-color: #2B302A;
   height: 300px;
   width: 320px;
   margin-left: 76%;
   border-radius: 15px;
   border: 5px solid #99FF33;
   margin-top: -20.5%;
}
 