.reg_form{
    background: transparent;
    border: 4px solid rgba(255, 255, 255, .5);
    text-align: center;
    width: 600px;
    height: 930px;
    border-radius: 25px;
    margin-left: 450px;
    backdrop-filter: blur(15px);
}
.SignupCompanyName{
    text-decoration: none;
}
.signupheading{
    color: white;
    padding-top: 10px;
}
.signupheading1{
    color: white;
}
.signupforminput{
    width: 500px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
}
.reg_page{
   margin: 0;
   padding: 0;
}
.signupsubmit{
    background-color: #008080;
    color: white;
    border-radius: 10px;
    width: 450px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
}
.signupsubmit:hover{
    background-color: white;
    color: #008080;
}
.signupcheckbox{
    width: 15px;
    height: 15px;
}
.reg_page{
    background-image: url("../AddUser/back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    background-position: 69%;
}
.heading{
    margin-bottom: -120px;
}
.signup{
    font-weight: bold;
    padding: 4px;
    color: white;
    font-family: 'Secular One', sans-serif;
}


