@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://cdn.syncfusion.com/ej2/20.1.48/bootstrap5.css');


.ViewallCataractBody{
  background-color: white;
  height: auto;
}
.ViewAllCatHeading{
  font-weight: bold;
  padding: 4px;
  color: #008080;
  font-family: 'Secular One', sans-serif;
} 
.CataractContainer{
  border-radius: 10px;
  padding:0%;
  width: fit-content;
  background-color: white;
  color: black;
  margin:auto;
}
.para1{
  margin-top: 10px;
  font-family: 'Poppins',sans-serif;
  font-weight:700;
  text-align: left;
  padding-left: 20px;
}
.AllimageCard{
  border-radius: 10px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  margin: 0px 0px 0px 0px;
  width:377px;
  height: 310px;
}
