
.index_bg{
    background-image: url("../Index//index1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
#IndexHeading{
  font-size: 25px;
  position: relative;
  top: -120px;
  right: 50px;
  padding: 20px;
  font-weight: bold;
}
#Login{
  padding-right: 20px;
  padding-top: 15px;
}
#Signup{
  padding-right: 20px;
  padding-top: 15px;  
}
#LoginLink{
  color: black;
  font-weight: 900;
  font-size: 30px;
}
#LoginLink:hover{
  border-bottom: 2px solid rgb(5, 251, 5);
}
#SignupLink{
  color: black;
  font-weight: 900;
  font-size: 30px;
}
#SignupLink:hover{
  border-bottom: 2px solid rgb(5, 251, 5);
}
.name{
  font-size: 50px;
  font-weight: 700;
  color: black;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
}
.Mainhe{
  font-size: 65px;
  font-weight: 900;
  color:  rgb(8, 15, 97);
  text-align: left;
  padding-left: 20px;
  padding-top: 280px;
}
.he1{
  font-size: 50px;
  font-weight: 900;
  color:  black;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}
.he2{
  font-size: 25px;
  font-weight: 800;
  color: black;
  position: relative;
  bottom: 20px;
  padding-left: 20px;
}