#DocNavBar{
    background-color: #008080 !important;
}
#DoctorNavitem:hover{
   color: black !important; 
}
#DocHomebtn{
    cursor: pointer;
}
#docDrop{
    margin-left: -100px !important;
}
#docNavfont{
    font-family: 'Secular One', sans-serif;
}
.DocProfilebtn{
    cursor: pointer;
}