@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://cdn.syncfusion.com/ej2/20.1.48/bootstrap5.css');

.ViewCataractBody{
  background-color: white;
  height: auto;
}
.CataractContainer{
  border-radius: 10px;
  padding:0%;
  width: fit-content;
  background-color: white;
  color: black;
  margin: auto;
  width: 700px !important;
  border: 7px solid #008080;
}
.CataractContainer:hover{
  transform: scale(1.1);
  transition: 1s;
}
.para1{
  margin-top: 10px;
  font-family: 'Jost', sans-serif !important;
  font-weight:700;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
}
.imageCard{
  border-radius: 10px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  margin: 0px 0px 0px 0px;
  width:687px !important;
  height: 310px;
 }


.ViewCatHeading{
  color: #008080;
  font-size: 45px;
  font-weight: bold;
  margin-left: 15px;
  font-family: 'Secular One', sans-serif;
  margin-bottom: 30px;
}
