@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://cdn.syncfusion.com/ej2/20.1.48/bootstrap5.css');

.ViewCataractBody{
  background-color: rgb(35, 36, 29);
  height: auto;
}
.CataractContainer{
  border-radius: 10px;
  padding:0%;
  width: fit-content;
  background-color: white;
  color: black;
  margin: auto;
  width: 700px !important;
}
.para1{
  margin-top: 10px;
  font-family: 'Poppins',sans-serif;
  font-weight:700;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  /* margin-left: 400px; */
}
.imageCard{
  border-radius: 10px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  margin: 0px 0px 0px 0px;
  width:700px !important;
  height: 310px;
  /* margin-left: -123px !important; */
 }

 .rectangleCatView{
  background-color: #CCFF00;
  width: 380px;
  height: 60px;
  border-radius: 10px;
  margin-left: 545px;
}
.ViewCatHeading{
  font-weight: bold;
  padding: 4px;
}
