
.SingleViewbody{
    background-color: rgb(35, 36, 29);
    margin: auto;
}
.reactangleDoctorSinView{
    background-color: #CCFF00;
    width: 380px;
    height: 60px;
    border-radius: 10px;
    margin-left: 540px;
}
.SingleCataract{
    background-color: #E1F1C1;
    width:50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.SingleCataractContent{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight:500;
    text-align: justify;
    padding-left: 20px;
    margin-left: 170px;
}
/* .CataractContent{
    padding-bottom: 12px;
    padding-left:7px;
} */