 #PatientNavHeading{
    color: #ffffff;
    font-size: 50px ;
    font-weight: 500;
 }
#PatientNavHeading:hover{
    color: #CCFF00;
 }
 .NavigationBarBarDropdown{
    margin-left: 50%;
    margin-top: 5%;
 } 
 #PatientNavbar{
   background-color: black;
   height: 70px;
 }
 #PatientNav{
   margin-left: 20px;
 }
 #PatientNavitem{
   padding: 5px;
 }
